@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-softRed: hsl(356, 100%, 66%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Overpass", sans-serif;
    letter-spacing: 2px;
}

  
button {
    cursor: pointer;
    width: 130px;
    border-radius: 18px;
    border: none;
    outline-offset: -2px;
    padding: 12px;
    font-weight: 700;
  }